# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build

# database
prisma/*.db
prisma/*.db-journal

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
